@model BookManagementSystem.Web.Views.Shared.Components.RightNavbarNotification.RightNavbarNotificationViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificationHub")
        .build();

    connection.on("ReceiveNotification", function (notification) {
        console.log(notification);
        // Handle the received notification
        var notificationItem = '<li><a class="' + notification.State + '">'
            + '<div class="notification">'
            + '<div class="notification-title">' + notification.Data + '</div>'
            + '<div class="notification-time">' + notification.CreationTime + '</div>'
            + '</div>'
            + '</a></li>';

        $(".notifications-list").prepend(notificationItem);
    });

    connection.start().then(function () {
        console.log("SignalR connection established.");
    }).catch(function (err) {
        console.error(err.toString());
    });
</script>

@*<li class="nav-item dropdown nav-notification">
    <a href="#" class="nav-link" data-toggle="dropdown" role="button">
        
        <img class="user-image img-circle elevation-2" width="20px" height="20px" src="~/libs/admin-lte/dist/img/Bell.png" alt="Notification">
        <span class="badge badge-pill badge-danger">@Model.UnreadCount</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right">

        <ul class="dropdown-menu notifications-list">
            <li>
                <h5>No notifications</h5>
            </li>
            if(Model.Notification != null){
            @foreach (var notification in Model.Notifications)
            {
                <li>
                    
                    <a class="@notification.State">
                        <div class="notification">
                            <div class="notification-title">@notification.Data</div>
                            <div class="notification-time">@notification.CreationTime.ToString("MMM d, yyyy - h:mm tt")</div>
                        </div>
                    </a>
                </li>
            }
            }
            else{
            <li>
                <span>No notification found</span>
            </li>
            }
        </ul>
    </div>
</li>*@