@using BookManagementSystem.Models.Books
@using BookManagementSystem.Web.Models.Common.Modals
@model EditBookModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Edit Book"))
<form name="BookEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Book.Id" />
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#edit-book-details">Book Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#edit-book-authors">Authors</a>
            </li>
        </ul>

        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="edit-book-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="bookname">Book Name</label>
                    <div class="col-md-9">
                        <input id="bookname" type="text" name="BookName" class="form-control" value="@Model.Book.BookName" required minlength="2">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="quantity">Quantity</label>
                    <div class="col-md-9">
                        <input id="quantity" type="text" name="Quantity" class="form-control" value="@Model.Book.Quantity" required maxlength="32" minlength="2">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="description">Description</label>
                    <div class="col-md-9">
                        <input id="description" type="text" name="Description" class="form-control" value="@Model.Book.Description" required minlength="2">
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane container" id="edit-book-authors">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="author">Author Name</label>
                    <div class="col-md-9">
                        <select class="form-control" id="author" name="AuthorId" required>
                            <option value="">-- Select Author Name --</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Books/_EditModal.js" asp-append-version="true"></script>
